{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>Category list</h1>
{% if categories is not empty %}

{{ dump(categories) }}

    <table border="1">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('a_category',{'id':category.id}) }}">
                    {{ categorie.name }}
                    </a>
                    </td>
                <td>{{ categorie.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>Theres no Category</p>

{% endif %}
<h2> Add a category</h2>

{{ form(add_form) }}

{% endblock %}
